<h1>Your Saved Articles</h1>

{{#each articles}}
    {{#if saved}}
        <a href="{{link}}" target="_blank">
        <h3>{{title}}</h3>
        </a>
    <button class="btn-danger">Delete</button>
    <button class="btn-warning">Note</button>
    {{/if}}
{{/each}}